<ul>
    {{#each estudiantes}}
    <li>{{this.nombre}} - {{this.apellido}} x {{this.condicion}}</li>
    {{/each}}
</ul>

    {{#if hasPrevPag}}
    <a href="/estudiantes?page={{prevPage}}">Anterior</a>
    {{/if}}

    
    {{#if hasNextPag}}
    <a href="/estudiantes?page={{nextPage}}">Siguiente</a>
    {{/if}}

    <p>Pagina {{currentPage}} de {{totalPage}}</p>
